
.register-container {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 110vh;
               
             }
             
             .register-card {
               width: 100%;
               max-width: 400px;
               margin: auto;
               padding: 20px;
               border-radius: 15px;
               box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
               background: white;
             }
             
.wrapper  { 
background-image: url('/public/travel.jpg'); 
background-size: cover;} 
.input-wrapper{
              padding-bottom: 10px;
             }
                    
             